
language: python
python:
  - "3.5"

# Cache dependencies for faster build
cache: pip

# command to install dependencies
install:
  - pip install tqdm
  - pip install numpy
  - pip install cython
  - python setup.py develop

# command to run tests
script:
  - nosetests experiments/test-guthrie-model.py
